.card-container {
  width: 845px;
  height: 821px;
  border-bottom: 2px solid rgba(17, 17, 17, 0.1);
  margin-bottom: 20px;
}
.card-img {
  width: 845px;
  height: 450px;
  border-radius: 8px;
}
.author-container {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

@media screen and (max-width: 900px) {
  .author-container {
    display: flex;
   justify-content: left;
    margin: 30px;
    gap: 15px;
  }
  .card-img{
    width: auto;

  }
  .card-container{
    width: 80%;
    margin: 30PX;
  }
}

.author-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.author-name {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  margin: 0;
}
.blog-time {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: rgba(17, 17, 17, 0.6);
  margin: 0;
}
.test2{
    display: flex;
    gap: 10px;
}
.reading-time{
  font-family: 'Exo 2';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: right;
color: rgba(17, 17, 17, 0.6);
}
.blog-title{
  text-align: left;
  font-family: 'Exo 2';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 160%;
color: #111111;
}
.read-mark{
  font-family: 'Exo 2';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-decoration-line: underline;
text-align: left;
color: #6047EC;
cursor: pointer;

}
.bookmark{
  cursor: pointer;
}